# Python cache and virtualenv
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables
.env

# OS/System files
.DS_Store
Thumbs.db

# Model files
#*.pkl
*.joblib
*.sav

# Streamlit logs
.streamlit/

# VSCode or PyCharm
.vscode/
.idea/

# Data files (if sensitive or large)
#data/
